/* src/components/MainImage/MainImage.css */

.main-image-container{
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.main-image{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}